* {
	padding: 0;
	margin: 0;
	font-family: "Microsoft Yahei", sans-serif;
	font-size: 12px;
}
body {
	min-width: 1250px;
}
fieldset {
	width: 1250px;
	height: 100px;
	margin: 50px auto 0;
}
legend {
	margin-left: 60px;
	font-size: 16px;
}
#DFS,
#BFS {
	padding: 6px 10px;
	margin: 20px 0 0 20px;
	border: none;
	-webkit-transition: all .5s ease-in-out; /*Safari  Chrome*/
	-moz-transition: all .5s ease-in-out; /*Firefox4*/
	-o-transition: all .5s ease-in-out; /*Opera*/
	transition: all .5s ease-in-out;
}
#DFS:hover,
#BFS:hover {
    cursor: pointer;
    color: #fff;
    background-color: #ccc;
}
#search {
	display: inline-block;
	padding: 10px 20px;
	margin-left: 20px;
	border: 1px dotted #999;
}
#search input:nth-of-type(1) {
    height: 30px;
}
.root,
.child-1,
.child-2,
.child-3 {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 30px 0;
}

.root {
	width: 1250px;
	height: 350px;
	margin: 50px auto 0;
	border: 1px solid green;
}
.root div {
    flex-grow: 1;
    margin: 0 10px;
}
.child-1 {	
	border: 1px solid blue;
}
.child-2 {
	border: 1px solid orange;
}
.child-3 {
	border: 1px solid red;
}
.child-4 {
	border: 1px solid #888;
}