label, 
input {
    display: block;
    margin-top: 6px;
}
#add-btn {
	margin-top: 6px;
}
#aqi-table {
	width: 300px;
	margin-top: 20px;
	text-align: center;
	border-spacing: 0;
	border-collapse: collapse;
}
#aqi-table td {
	border: 1px solid #484848;
}
#aqi-table td button {
	width: 80%;
}